<!-- Contact Items -->
    {% for chatroom in chat_groups %}
    {% if chatroom.is_private %}
        {% for member in chatroom.members.all%}
            {% if member != user %}
            <a href="{% url 'chatroom' chatroom.group_name %}" class="block hover:bg-gray-100">
                <div class="px-4 py-3 cursor-pointer flex items-center space-x-3">
                    <img src="{{ member.profile.avatar }}" alt="{{ member.profile.name }}" class="w-14 h-14 rounded-full">
                    <div class="flex-1">
                        <p class="font-medium text-gray-900">{{ member.profile.name }}</p>
                        {% with last_message=chatroom.chat_messages.first %}
                        {% if last_message %}
                        <p class="text-sm text-gray-500 truncate">
                            {% if last_message.author == user %}
                            You: 
                            {% else %}
                            {{ last_message.author.profile.name }}: 
                            {% endif %}
                            {{ last_message.body }}
                        </p>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="{% url 'chatroom' chatroom.group_name %}" class="block hover:bg-gray-100">
            <div class="px-4 py-3 cursor-pointer flex items-center space-x-3">
                <div class="w-14 h-14 rounded-full bg-blue-500 flex items-center justify-center text-white font-bold text-lg">
                    {{ chatroom.groupchat_name|first|upper }}
                </div>
                <div class="flex-1">
                    <p class="font-medium text-gray-900">{{ chatroom.groupchat_name }}</p>
                    {% with last_message=chatroom.chat_messages.first %}
                    {% if last_message %}
                    <p class="text-sm text-gray-500 truncate">{{ last_message.body }}</p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}